Package: com.yulkytulky.flexivator
Name: FLEXivator
Version: 1.0
Architecture: iphoneos-arm
Description: Open FLEX with Activator!
Maintainer: YulkyTulky
Author: YulkyTulky
Section: Addons (Activator)
Depends: mobilesubstrate (>= 0.9.5000), libactivator (>= 1.8.3), libflex
